/* Bulma extension for dot slider */

/* Class of the unfilled circle */
.is-unfilled-circle{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: solid 0.05rem currentColor;
    margin: 0.1rem;
}

/* Class of the filled circle */
.is-filled-circle{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: solid 0.05rem currentColor;
    background-color: currentColor;
    margin: 0.1rem;
}

/* Class of the container for the dot slider */
.is-dot-slider{
    display: flex;
    justify-content: center;
}